
$family-serif: 'Poppins', sans-serif;
$family-primary: $family-serif;


$body-size: 20px;
$weight-normal: 400;
$weight-medium: 600;
$weight-bold: 700;
$title-weight: $weight-bold;
$subtitle-weight: $weight-medium;
$border-radius: 20px;
$get-path-to-assets: 'src/assets/img/';
$posterMinHeight:255px;


//loading animation
$animation-speed: 2s;
/*    Spinner Variables */
$spinner-size: 10;
$line-color: $blue;
$line-alpha: 0.73;
$ring-color: $yellow;
$ring-alpha: 0.2;
$ring-size: 4;


// repsonsive
@mixin mobileUp {
  @media (min-width: theme('screens.sm')) { @content; }
}
@mixin tabletUp {
  @media (min-width: theme('screens.md')) { @content; }
}
@mixin desktopUp {
  @media (min-width: theme('screens.lg')) { @content; }
}
@mixin wideUp {
  @media (min-width: theme('screens.xl')) { @content; }
}