
$family-serif: 'Inter', sans-serif;
$family-primary: $family-serif;


$body-size: 20px;
$weight-normal: 400;
$weight-medium: 700;
$weight-bold: 900;
$title-weight: $weight-bold;
$subtitle-weight: $weight-medium;
$border-radius: 10px;
$get-path-to-assets: 'src/assets/img/';

@mixin mobile {
    @media (max-width: 699px) { @content; }
  }

  @mixin tablet {
    @media (min-width: 700px) { @content; }
  }
 

//loading animation
$animation-speed: 2s;
/*    Spinner Variables */
$spinner-size: 10;
$line-color: $blue;
$line-alpha: 0.73;
$ring-color: $yellow;
$ring-alpha: 0.2;
$ring-size: 4;
